.main{
    background: linear-gradient(180deg, #90AEA7 0%, #000 89.7%);
    /* background: rgb(28, 34, 33); */
    flex: 7;
}
.logos{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 32px;
    align-items: center;
    height: 100%;
    width: 100%;
}
#spotify_logo{
    width: 13vw;
}
.sidebar{
   width:18vw;
   display: flex;
   align-items: center; 
}

.list{
    padding-right: 18px;
    align-items:start;
    margin-bottom: 0px;
}
.top{
    /* background: linear-gradient(180deg, #90AEA7 0%, #000 89.7%); */
    display: flex;
   align-items: center;
}
.pop{
color: #FFF;

font-size: 90px;
font-weight: 900;
}
.spoti{
color: #FFF;
font-size: 15px;
font-weight: 700;
line-height: 146.9%; /* 22.035px *
}
.thamp_img{
    width: 55px;
    height: 30px;
    /* margin: auto; */
 margin-left: 2px;

}
.pop>p{
    margin-left: 6px;
}
.sidbar_albam{
    width:18vw;
    display: flex;
}
.sidbar_albam>img{
    width: 100%;
    margin-top: 57px;
}
.play_butt{
    height: 55px;
    margin-top: 10px;
}
    .play_buttons{
        display: flex;
      
        align-items: center; 
    }
    .music_icon{
      
      
       background:rgb(0, 0, 0,0.60);
        height: 60%;
        width: 90vw;
        overflow-y: auto;
    }
    .music_icon::-webkit-scrollbar {
        display: none;
      }
.music_head{
    display: flex;
    margin-top: 6px;
  height: 8vh;
    background:rgb(0, 0, 0,0.15);
    /* border:2px solid white; */
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 7px;
}
.head_main{
    background: none;
    margin-left: 16px;
}
    .head1{
        margin-left: 7px;
        margin-top: 15px;
        flex: 1;
        align-items: flex-start;
       
    
    }
   .hash{
   
    display: flex;
    gap: 10px;
   }
    .head2{
        flex: 1;
        display: flex;
        margin-right: 50px;
        align-items: center;
        
    }
  .head2>h5{
    margin-left: 64px;
  }
    .head3{
        flex: 1.2;
        align-items: center;
        display: flex;
        
        justify-content: start;
       
    }
   .head1>span{
    color: #FFF;
    font-family: Circular Std;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.32px;
    margin: auto;
   }
   .music_img{
    height: 8vh;
   }
  
   .mus_head1{
    flex: 1;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 10px;
}
.mus_head1>span{
    margin-right: 18px;
}
.mus_head1>img{
    margin-right: 18px;
}

   .mus_head2{
    flex: 1;
    align-items: flex-start;
    display: flex;
    align-items: center;
}
   .mus_head3{
    flex: 1.5;
    align-items: center;
    display: flex;
    margin-right: 20px;
    justify-content: space-around;
   }
   .mus_head3>img{
    margin-top: 15px;
    margin-right: 10px;
   }
   #time{
    /* margin-top: 20px; */
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    /* margin-right: 90px; */
   }
   hr{
    width:100%;
    color: rgb(78, 79, 80);
   }
   
 #temp1{
   
    opacity: 0;
 }